/* Site general styles */

.site-container
{
    /* color: black; */
}

.site-container section
{
    padding: 10px;
}


/* Presentation Section */

.presentation-section
{
    color: white;
    background-color: #3d3d3d;
}

.presentation-section .presentation
{
    padding: 20px;
}

.presentation-section .presentation > *
{
    padding: 0 20px;
}

.presentation-section .presentation .name
{
    text-align: center;
    font-size: x-large;
}

.presentation-section .presentation .name .photo
{
    width: 150px;
    border-radius: 50%;
    visibility: hidden;
}


/* Contact Section */

.contact-section
{
    text-align: center;
    border-bottom: 1px solid black;
}

.informations
{
    list-style: none;
    font-size: larger;
}


/* Experiences Section */

.experiences-section .title
{
    margin-bottom: 1em;
}

.experiences-section .name
{
    margin-bottom: 0;
}


/* Abilities Section */

.abilities-section
{
    color: white;
    background-color: #3d3d3d;
}

.abilities-section ul > li
{
    margin-top: 10px;
}
