/* Site general styles */

* {
  margin: 0;
  padding: 0;
  outline: none;
}

ul {
  list-style: none;
}

.site-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* color: black; */
}

.site-container section {
  width: 100%;
  padding: 10px;
}

/* Presentation Section */

.presentation-section {
  /* color: white;
    background-color: #3d3d3d; */
  border-bottom: 1px solid black;
}

.presentation-section .presentation {
  padding: 20px;
}

.presentation-section .presentation > * {
  padding: 0 20px;
}

.presentation-section .presentation .name {
  text-align: center;
  font-size: x-large;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.presentation-section .presentation .name .photo {
  display: none;
  margin-bottom: 1em;
}

@media (min-width: 576px) {
  .presentation-section .presentation .name .photo {
    width: 200px;
    border-radius: 50%;
    /* visibility: hidden;
    display: block; */
  }
}

.presentation-section .presentation .name h2 {
  margin-bottom: 1em;
}

@media (min-width: 576px) {
  .presentation-section .presentation .name h2 {
    margin-bottom: 0;
  }
}

/* Contact Section */

.contact-section {
  text-align: center;
  border-bottom: 1px solid black;
}

.informations {
  list-style: none;
  font-size: larger;
}

/* Experiences Section */

.experiences-section {
  border-bottom: 1px solid black;
}

.experiences-section .title {
  margin-bottom: 1em;
}

.experiences-section .name {
  margin-bottom: 0;
}

/* Abilities Section */

.abilities-section {
  width: 100%;
  /* color: white;
    background-color: #3d3d3d; */
}

.abilities-section ul > li {
  margin-top: 10px;
}

.progress {
  background-color: transparent;
  border: 1px solid black;
}

.progress-bar {
  background-color: transparent;
  border-right: 1px solid black;
  color: black;
}
